    /* body{ 
            margin: 0px;
            padding: 0px;
        }
       .black{ 
           background-color: black;
           color: white;
           display: flex;
           justify-content: space-between;
           width: 100%;
           padding: 50px;
           position: absolute;
       }
       .inner{ 
           position: relative;
       }
       h2{ 
           color: red;
       } */
       *{ 
        box-sizing: border-box;
    }
    body{ 
        margin: 0;
        padding: 0;
        color: white;
        
    }
    .container{ 
        width: auto;
        font-weight: 900;
        background: #222;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5), 0 30px 30px rgba(0, 0, 0, 0.5);
        
        
    }
    header{ 
        display: flex;
        justify-content: space-evenly;
        padding: 30px;
    }
    header, a{ 
        padding: 20px;
        text-decoration: none;
        color: white;
        font-size: large;
    }
    .nav{ 
        margin-top: 20px;
    }
    .body{ 
          /* background-image: url(../pics/download.jpg); */
         background-size: cover;
         text-align: center;
         padding: 60px;
          
    }
    
    .outer{ 
     background: red;
        position: relative;
        height: 70px;
        width: 220px;
        border-radius: 50px;
        margin-left: 300px;
        margin-top: 20px;
    }
    .outer:hover{ 
     background:linear-gradient(#14ffe9, #ffeb3b,#ff00e0);
     animation: rotate 1.5s linear infinite;
    }
    @keyframes rotate{ 
        0%{ 
            filter: hue-rotate(0deg);
        }
        100%{ 
            filter: hue-rotate(360deg);
        }
     }
 .outer button{ 
        background-color:#000;
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%,-50%);
        width: 210px;
        height:60px;
        border-radius: 50px;
        cursor: pointer;
        z-index: 9;
        border: none;
        float: left;
    }
    .outer span{ 
     position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%,-50%);
    }
    .outer span{ 
         height: 100%;
         width: 100%;
         background: inherit;
         border-radius: 50px;
    }
    .outer:hover span:nth-child(1){ 
         filter: blur(7px);
    }
    .outer:hover span:nth-child(2){ 
         filter: blur(14px);
    }
    a:hover{ 
        color: lightslategrey;
        border-left: 2px solid lawngreen;
        border-right: 2px solid rgb(182, 12, 145);
        text-decoration: none;
    }
    footer{ 
     text-align: center;
    }
    .flex{ 
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }